.mainContent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.topContent {
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 5%;
    margin-top: 2%;
}

.post-author, .post-date, .post-time {
    font-style: italic;
    color: #999;
    font-size: 90%;
}

.post-date, .post-time {
    margin: auto;
}

.edit_btn, .post_content_btn, .highlighted_content_btn {
    margin-left: 1%;
}

.del_btn, .edit_btn, .post_content_btn, .highlighted_content_btn {
    background-color: #fff;
    color: #cf5c3f;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     font-style: italic;
     font-size: 15px;
     outline-style: none;
}

.del_btn:hover, .edit_btn:hover, .post_content_btn:hover, .more_posts_btn:hover, .highlighted_content_btn:hover {
    background-color: #cf5c3f;
    color: #fff;
}

.more_posts_btn {
    margin-top: 2%;
    height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #666;
    color: #fff;
    outline-style: none;
}