.addPostReference {
    margin-left: 1.5%;
}

#newPostForm {
    padding: 10px;
}

#titleInput {
    width: 60%;
}

#authorInput {
    width: 40%;
}

#titleInput, #authorInput {
    height: 20px;
    display: block;
    margin-bottom: 2%;
}

#labelContent {
    display: block;
}

#titleInput, #authorInput, #bodyInput {
    order-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid #add8e6;
    outline: none;
}

#titleInput:hover, #authorInput:hover, #bodyInput:hover {
    border-color: #cf5c3f;
}

#bodyInput {
    width: 100%;
    height: 320px;
    border-width: 2px;
    resize: none;
}

#labelTitle, #labelAuthor, #labelContent {
    font-size: 15px;
}

#create_post_btn, #editPost {
    margin-top: 1%;
    width: 30%;
    height: 30px;
    color: #fff;
    background-color: #cf5c3f;
    font-size: 15px;
    font-style: italic;
    order-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}