#sectionDescription {
    font-style: italic;
    color: #999;
    font-size: 90%;
}

#delete_posts_btn {
    margin-top: 3%;
}

#delete_posts_btn, #generate_posts_btn {
    width: 30%;
    height: 30px;
    color: #fff;
    background-color: #cf5c3f;
    font-size: 15px;
    font-style: italic;
    order-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

#appendCheckbox {
    margin-top: 1%;
    font-size: 50%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    font-size: 90%;
    font-style: italic;
}

#generateNumber {
    margin-top: 2%;
    width: 10%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    outline: none;
    border: 2px solid #add8e6;
    font-size: 90%;
    padding: 2px;
}
