#search_bar {
    margin-top: 1%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    outline: none;
    width: 75%;

}

#search_btn {
    margin-top: 1%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #add8e6;
    width: 21%;
    font-size: 16px;
    padding: 10px;
    color: #ffffff;
    background-color: #cf5c3f;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

#search_bar:hover {
    border: 2px solid #add8e6;
}

.search_posts {
    margin-top: 2%;
    height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #666;
    color: #fff;
    outline-style: none;
}

.search_posts:hover {
    background-color: #cf5c3f;
    color: #fff;
}
