@import "all_posts.css";
@import "create_post.css";
@import "search.css";
@import "generate_posts.css";

body {
    background-image: url('/blog/images/bg.png');
    color: #000305;
    font-size: 87.5%;
    font-family: Arial, serif;
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #cf5c3f;
}

a:hover, a:active {
    background-color: #cf5c3f;
    color: #fff;
}

.body {
    margin: 0 auto;
    width: 60%;
    clear: both;
}

.mainHeader {
    margin-top: 10px;
}

.mainHeader nav {
    background-color: #666;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li {
    float: left;
    display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
    background-color: #cf5c3f;
    text-shadow: none;
}

.mainHeader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainFooter {
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #666;
    margin: 2% 0 0.5% 0;
}

.mainFooter p {
    text-align: center;
    width: 92%;
    margin: 1% auto;
    font-size: 15px;
    color: #fff;
}